.button
  color: #3880ca
  font-size: 16px
  text-decoration: none
  padding: 6px 20px
  text-transform: capitalize
  border: 2px solid #3880ca
  border-radius: 6px
  display: inline-block

.button:hover
  color: #fff
  background-color: #3880ca
