@import '../colors'

.button
  color: $blue
  font-size: 16px
  text-decoration: none
  padding: 6px 20px
  text-transform: capitalize
  border: 2px solid $blue
  border-radius: 6px
  display: inline-block

.button:hover
  color: $white
  background-color: $blue
