@import '../colors'
@import '../media'

.button
  color: $blue
  font-size: 16px
  text-decoration: none
  padding: 10px 20px
  text-transform: uppercase
  border: 3px solid transparent
  border-radius: 6px
  display: inline-block

  +media('<tablet')
    padding: 10px 10px

.button:hover
  border: 3px solid $blue
