@import '../components/media'

.layout
  display: flex
  flex-direction: column
  max-width: 1220px
  margin: 0 auto
  padding: 0 20px
  position: relative

  +media('>tablet')
    flex-direction: row

.main
  flex: 0 0 100%

.sidebar
  flex: 0 0 25%
  padding: 0 12px

.main_searchbar
  width: 100%
  max-width: 430px

.posts
  display: flex
  flex-wrap: wrap

  +media('>phone_l')
    margin: 0 -2%

  +media('>tablet')
    margin: 0 -(3.33% / 2)

.single_post
  flex-basis: 100%

  +media('>phone_l')
    flex-basis: 46%
    margin-left: 2%
    margin-right: 2%

  +media('>=desktop')
    flex-basis: 30%
    margin-left: (3.33% / 2)
    margin-right: (3.33% / 2)
