.layout
  display: flex
  flex-direction: column
  max-width: 1220px
  margin: 0 auto
  padding: 0 20px

  @media screen and (min-width: 768px)
    flex-direction: row

.main
  flex: 0 0 75%

  @media screen and (min-width: 768px)
    padding: 0 12px

.sidebar
  flex: 0 0 25%
  padding: 0 12px

.main_searchbar
  width: 100%
  max-width: 430px
