#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-background
  a
    color: color-link
    text-decoration: none
    &.footer-icon
      color: #fff
    &:hover
      text-decoration: underline

#footer-info
  display: flex
  line-height: line-height
  font-size: 0.85em

#footer-main
  flex-grow: 1
