#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  padding: 10px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.yummy-logo
  margin: 82px auto 0
  max-width: 120px
  width: 50%

  @media mq-mobile
    margin-top: 50px

  @media mq-tablet
    margin-top: 50px
