.navbar {
  background-color: #e98500;
  padding: 3px 6px;
}

.navbar_link {
  color: #333;
  display: inline-block;
  line-height: 16px;
  margin: 0 6px;
  text-decoration: none;
}

.navbar_link:hover {
  text-decoration: underline;
}

.navbar_link:active {
  color: #555;
}

.navbar_text_link {
  composes: navbar_link;
  padding: 20px 8px;
}

.navbar_logo_link {
  composes: navbar_link;
  vertical-align: middle;
}

.navbar_logo {
  height: 42px;
  display: block;
}
