.navbar
  padding: 3px 6px
  position: relative

.navbar_link
  color: #0f0f0f
  display: inline-block
  font-size: 16px
  font-weight: bold
  margin: 0 6px
  padding: 20px 8px
  text-decoration: none
  text-transform: uppercase
  text-shadow: 0 1px 0 #fab823


.navbar_link:hover
  text-decoration: underline

.navbar_link:active
  color: #555
