@import '../media'
@import '../colors'

.navbar
  padding: 3px 6px
  position: relative
  display: flex
  width: 100%
  z-index: 1

  +media('<tablet')
    width: auto

.navbar_categories
  display: flex
  align-items: center
  justify-content: flex-end
  width: 100%

  +media('<tablet')
    display: none
    flex-direction: column
    position: absolute
    align-items: initial
    justify-content: initial
    top: 56px
    right: 0px
    z-index: 1
    width: 45vw

    &.expanded
      display: flex

  +media('<phone_l')
    width: 100vw

.navbar_link
  color: $grey6
  display: inline-block
  font-size: 16px
  font-weight: 600
  margin: 0 6px
  padding: 20px 8px
  text-decoration: none
  text-transform: uppercase
  text-shadow: 0 1px 0 $orange3

  &:hover
    text-decoration: underline

  &:active
    color: $grey4

  +media('<tablet')
    display: inline-block
    background-color: $orange2
    border-bottom: 2px solid $orange1
    padding: 14px 0
    text-align: center
    text-shadow: none

    &:last-child
      border-bottom: none

    &:hover,
    &:active
      background-color: $orange1
      text-decoration: none

.navbar_logo_link
  composes: navbar_link
  margin: -3px 9px 0 9px
  padding: 0
  vertical-align: baseline

  +media('<tablet')
    margin: 0 6px
    padding: 4px 0

  svg
    height: 42px
    vertical-align: middle

.navbar_menu_icon
  display: none
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible
  background: transparent

  +media('<tablet')
    display: inline-block
    margin: 0 6px
    padding: 14px 8px 0 8px

.icon_menu
  vertical-align: baseline

.hidden
  display: none

.navbar_menu_overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -1
