$orange1: #ffdeb3;
$orange2: #ffc16e;
$orange3: #fab823;
$brand-orange: #e98500;

$white: #fff;
$grey1: #ddd;
$grey2: #b6a99b;
$grey3: #999;
$grey4: #606060;
$grey5: #333;
$grey6: #111;
$black: #000;

$blue: #3880ca;
