@import '../media'
@import '../colors'

.logo
  display: block
  margin: 50px auto 0
  max-width: 120px
  width: 50%

  +media('>tablet')
    margin-top: 82px

.section
  margin: 50px 0

.title
  color: $grey5
  font-size: 15px
  letter-spacing: 2px
