.paginator
  display: flex
  margin-bottom: 35px

.icon
  height: 15px
  vertical-align: baseline
  position: relative
  bottom: -2px
  transform: scale(1.3)
  margin: 0 4px

.prev
  margin-right: auto

.next
  margin-left: auto
