.paginator {
  background: #fff;
  display: flex;
  margin: 50px 0;
}

.link {
  color: #999;
  text-decoration: none;
  padding: 10px 20px;
}

.link:hover {
  color: #fff;
  background: #999;
}

.prev {
  composes: link;
  margin-right: auto;
}

.next {
  composes: link;
  margin-left: auto;
}
